version: '3.8'

services:
  analise-estoque-worker:
    build: .
    environment:
      - INTERVALO_DIAS=7
      - POSTGRES_URL=postgresql://usuario:senha@host:5432/database
      - SQL_HOST=127.0.0.1
      - SQL_PORT=1433
      - SQL_DATABASE=master
      - SQL_USER=sa
      - SQL_PASSWORD=senha_secreta
    restart: unless-stopped
    volumes:
      - ./data:/app/data
